.header {
  display: flex;
  padding: 1.2rem 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.figure {
  margin: 0;
}

.logo,
.basket {
  height: 1.5rem;
}

.number {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--sohoLights);
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
}

@media (min-width: 36em) {
  .logo,
  .basket {
    height: 2.5rem;
  }
}
